@import url("https://use.typekit.net/fib6nnw.css");

* {
    font-family: sofia-pro, sans-serif;

    font-weight: 300 !important;

    font-style: normal !important;
}

strong {
    text-transform: uppercase;
    font-family: sofia-pro, sans-serif;

    font-weight: 700 !important;

    font-style: normal !important;
}

.btn-text {
    font-family: sofia-pro, sans-serif;

    font-weight: 700;

    font-style: normal;
}

.welcome-title {
    font-size: 1.8rem;
    text-transform: uppercase;
    font-family: sofia-pro, sans-serif;

    font-weight: 700 !important;

    font-style: normal !important;
}

.home-content {
    width: 360px;
    font-size: 1rem;

    font-family: sofia-pro, sans-serif;

    font-weight: 300 !important;

    font-style: normal !important;
}

@media screen and (min-width: 320px) and (max-width: 767px) {
    .welcome-title {
        font-size: 1.8rem;
        line-height: 3rem;
        text-transform: uppercase;
        font-family: sofia-pro, sans-serif;

        font-weight: 700 !important;

        font-style: normal !important;
    }
    .home-content {
        width: 100%;
        font-size: 1rem;

        font-family: sofia-pro, sans-serif;

        font-weight: 300 !important;

        font-style: normal !important;
    }

    .btn-text {
        font-family: sofia-pro, sans-serif;

        font-weight: 700;

        font-style: normal;
        width:100%;
        word-wrap: break-word;
    }

}
/****** START - iPad ******/
@media screen and (min-width: 768px) and (max-width: 992px) {
    .welcome-title {
        font-size: 1.8rem;
        line-height: 3rem;
        text-transform: uppercase;
        font-family: sofia-pro, sans-serif;

        font-weight: 700 !important;

        font-style: normal !important;
    }
    .home-content {
        width: 100%;
        font-size: 1rem;

        font-family: sofia-pro, sans-serif;

        font-weight: 300 !important;

        font-style: normal !important;
    }
}